body {
    margin: auto 0;
}

.col {
    display: flex;
    flex-direction: column;
}

.username {
    padding: 5px;
    border-radius: 5px;
}

table, td, th {
    border: solid 1px white;
}

table * {
    padding: 8px;
    text-align: center;
}